.c1{
    margin:0;
    height:10vh;
    background-color:gray;
}
.c2{
    width: 15%;
    margin: 0 auto ;
    margin-top: 10px;
    
}
.c3{
    width: 15%;
    margin: 0 auto ;
    margin-top: 10px;
    
}
.c4{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:grey;
}